@import 'tailwindcss';

@plugin 'daisyui' {
    themes: dark --default, dark --prefers-dark;
}


@font-face {
    font-family: 'Cubano';
    src: url('/Cubano.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'rounded';
    src: url('/RoundedMedium.ttf');
    font-display: swap;
}

.code {
    font-family: 'code', monospace;
    font-weight: 400;
    font-style: normal;
}


:root {
    font-family: 'Cubano', 'rounded', 'code', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}